import * as S from './styles';

interface {{pascalCase name}}Props {};

const {{pascalCase name}} = (props: {{pascalCase name}}Props) => (
  <S.Container>
    <h1>{{pascalCase name}}</h1>
  </S.Container>
);

export default {{pascalCase name}};
